/* ==========================================================================
   FORMS
   ========================================================================== */

/**
 * All form items go here
 */

.form {
    position: relative;
    margin: 5px 0;
    width: 100%;
}

.form__item {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: 'Montserrat';
    @include font($font-size-content, $font-weight-regular, $white);
}

/* All devices */
.form__selectCompany {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 6px 5px 6px 30px;
    background-color: $blue-50;
}

.form__filterLeftNav {
    outline: 0;
    width:100%;
    border: 0;
    border-radius: 15px;
    padding: 6px 5px 6px 30px;
    color: $cool-gray-40;
}

.form__filterDataTable {
    outline: 0;
    width:100%;
    border: 0;
    border-radius: 15px;
    background-color: $cool-gray-1;
    padding: 6px 8px;
    color: $blue-50;
}

.form__showPerPage {
    width: 75px;
    outline: 0;
    margin-right: 5px;
    border: 0;
    border-radius: 20px;
    padding: 5px;
    background-color: $cool-gray-1;
    color: $cool-gray-40;
}

.form__icon {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 16px;
}

.form__icon--company {
    left: 12px;
    top: 6px;
    color: $white;
}

.form__icon--search {
    color: $cool-gray-40;
}

/* Mobile-specific styles */
@include mobile {

}

/* Tablet-specific styles */
@include tablet {

}

/* Desktop-specific styles */
@include desktop {

}
